a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.alert {
    display: none;
    min-width: 200px;
    margin-top: -400px;
    margin-left: -200px;
    line-height: 15px;
    z-index: 99999;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #FFFFFF;
    text-align: center;
    background-color: #42c02e;
    border-color: #42c02e;
}

.alert-info {
    color: #FFFFFF;
    text-align: center;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    text-align: center;
    color: #FFFFFF;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    text-align: center;
    color: #FFFFFF;
    background-color: #FF8247;
    border-color: #FF8247;
}


.main-content {
  min-height: 100%;
  height: auto !important;
}

.footer {
    width: 100%;
    height: 60px;
    left: 0px;
    bottom: 0px;
    top: 100%;
    text-align: center;
    background: #11354b;
    }

.icon {
   width: 1em; 
   height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

.main-login{
  height: 100%;
  min-height: 750px;
  font-size: 14px;
  background-color: #f1f1f1;
}

.login-sign {
  width: 400px;
  margin-top: 120px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  vertical-align: middle;
  display: inline-block;
}

.login-sign-title{
  text-align: center; 
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
}

.login-sign-title a{
  text-decoration: none;
  color: gray;
}

.login-sign-title a:hover {
  color: red;
  box-shadow: 0 2px red;
}

.login-sign-title .active{
  color: red;
  box-shadow: 0 2px red;
}

.trigger-menu li a{
  font-size: 15px;
  font-weight: bold;
  color: #a3a3a3;
}

.trigger-menu li a:hover {
  box-shadow:  0 2px  #3d3d3d;
  color: #a6a6a6;
}

.trigger-menu .active {
  box-shadow:  0 2px  #3d3d3d;
  color: #3d3d3d;
}

.login-center {
margin-top: 100px;
margin-left:auto;
margin-right: auto;
height: 350px;
width: 500px;
padding: 5%;
padding-left: 5%;
padding-right: 5%;
}


.index {
  margin-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eaeaea;
}

.index-top {
  margin-bottom: 30px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #eaeaea;
}

.index-img {
 float: left;
 width: 25px;
 height: 25px;
}

.setting-basic {
  margin-left: 0px; 
  margin-top: 0px
  padding-top: 20px; 
  padding-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eaeaea;
}

.setting-basic-text {
  font-size: 15px;
  color: gray;
  width: 145px;
  display: -moz-inline-box;
  display: inline-block;
}

.setting-basic-input {
  width: 150px;
  height: 35px;
  font-size: 15px;
  background-color: #ededed;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgba(197, 193, 170, 0.7);
  border-right-color: rgba(197, 193, 170, 0.7);
  border-bottom-color: rgba(197, 193, 170, 0.7);
  border-left-color: rgba(197, 193, 170, 0.7);
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.main-top {
  margin-bottom: 0px;
  margin-top: 0px;
}

.following-top {
  margin-bottom: 0px;
  margin-top: 0px;
}
.author {
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
}
.avatar {
  float: left;
  width: 80px;
  height: 80px;
  margin-left: -2px;
}

.blog-avatar {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: -2px;
}
.title {
  font-size: 20px;
  font-weight: bold;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 110px;
}

.blog_title {
  font-size:30px; 
  font-weight:bold;
  color: black;
}

.following-author {
  font-size: 14px;
  font-weight: bold;
  margin-left: 65px;
  margin-top: -50px;
}

.following-meta-block {
  font-size: 12px;
  color: gray;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 6px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 7px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: gray;
}

.following-index {
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eaeaea;
}

.blog-title {
  font-size: 20px;
  width: 500px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 80px;
}

.info {
  margin-top: 10px;
  padding-left: 110px;
  font-size: 14px;
}

.blog-info {
  height: 40px;
  margin-top: 0px;
  padding-left: 80px;
  font-size: 14px;
}

.meta-block {
  font-size: 12px;
  margin-top: 0px;
  margin-right: 7px;
  margin-bottom: 6px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 7px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #f0f0f0;
}


.blog-meta-block {
  font-size: 12px;
  margin-top: 0px;
  margin-right: 7px;
  margin-bottom: 6px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 7px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.trigger-menu {
  margin-bottom: 20px;
  margin-top: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #eaeaea;
}

.author .info {
  vertical-align: middle;
  display: inline-block;
  margin-left: -70px;
}

.tag {
  padding-top: 1px;
  padding-right: 2px;
  padding-bottom: 1px;
  padding-left: 2px;
  font-size: 12px;
  color: #ea6f5a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(234, 111, 90);
  border-right-color: rgb(234, 111, 90);
  border-bottom-color: rgb(234, 111, 90);
  border-left-color: rgb(234, 111, 90);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}


.change-pic {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  /*padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 12px;*/
  height: 30px;
  width: 90px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: green;
  border-right-color: green;
  border-bottom-color: green;
  border-left-color: green;
  -moz-border-left-color: none;
  -moz-border-top-color: none;
  -moz-border-right-color: none;
  -moz-border-bottom-color: none;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.webchat-pic {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  height: 30px;
  width: 90px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: green;
  cursor: pointer;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: green;
  border-right-color: green;
  border-bottom-color: green;
  border-left-color: green;
  -moz-border-left-color: none;
  -moz-border-top-color: none;
  -moz-border-right-color: none;
  -moz-border-bottom-color: none;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.upload-pic {
  opacity: 0; 
  position: absolute; 
  display: block !important;
  cursor: pointer;
  width: 90px;
}

.send-email {
  float: right;
  margin-top: 5px;
  height: 30px;
  width: 60px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: green;
  border-right-color: green;
  border-bottom-color: green;
  border-left-color: green;
  -moz-border-left-color: none;
  -moz-border-top-color: none;
  -moz-border-right-color: none;
  -moz-border-bottom-color: none;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.aside-list {
  height: 50px;
  width: 100%;
  color: black;
  line-height: 45px;
  padding-left: 10px;
  cursor: pointer;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: white;
  -moz-border-left-color: none;
  -moz-border-top-color: none;
  -moz-border-right-color: none;
  -moz-border-bottom-color: none;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.aside-ul li:hover {
  background-color: #ededed;
}

.search-input {
  margin-top: -1px;
  padding-top: 0px;
  padding-right: 40px;
  padding-bottom: 0px;
  padding-left: 20px;
  width: 200px;
  height: 38px;
  font-size: 14px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(238, 238, 238);
  border-right-color: rgb(238, 238, 238);
  border-bottom-color: rgb(238, 238, 238);
  border-left-color: rgb(238, 238, 238);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  background-image: url(../img/search.png);
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  background-position-x: 90%;
  background-position-y: 60%;
  background-size: 20px 20px;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.menu-text {
  margin-left: 200px;
}

.logo {
  float: left;
  height: 54px;
  padding-top: 14px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.width-limit {
  min-width: 768px;
  max-width: 1440px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

 .write-btn {
  float: right;
  width: 100px;
  height: 38px;
  line-height: 38px;
  margin-top: 9px;
  margin-right: 15px;
  margin-bottom: 0px;
  margin-left: 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 15px;
  color: none;
  /*background-color: white;*/
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  /*touch-action: manipulation;*/
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  white-space: nowrap;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  /*-webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}

.user {
  float: right;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 100%;
  width: 100px;
}

.users-header{
  margin-left: 0px;
  margin-top: 0px;
  width: 100%;
}

.users-body{
  margin-left: 0px;
  margin-top: 40px;
  width: 100%;
}
/*
 .sign_up {
  float: right;
  width: 80px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  margin-top: 9px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 15px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgba(236, 97, 73, 0.7);
  border-right-color: rgba(236, 97, 73, 0.7);
  border-bottom-color: rgba(236, 97, 73, 0.7);
  border-left-color: rgba(236, 97, 73, 0.7);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 15px;
  color: red;
  background-color: transparent;
}
*/

.sign_up {
  float: right;
  margin-top: 15px;
  margin-right: 6px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-size: 15px;
  color: red;
}

.login {
  float: right;
  margin-top: 15px;
  margin-right: 6px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-size: 15px;
  color: white;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: red;
}

.search {
  padding-left: 15px;
  margin-top: 10px;
}

.search-btn {
  position: absolute;
  top: 4px;
  right: 5px;
  width: 30px;
  height: 30px !important;
  line-height: normal !important;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  color: #969696 !important;
  text-align: center;
}

.ic-search {
  margin-top: 5px;
  margin-right: -1px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: block;
}

.iconfont {
  font-family: iconfont !important;
  font-size: inherit;
  font-style: normal;
  font-weight: 400 !important;
}

.left-top {
  margin-left: 200px;
  margin-top: 50px;
  width: 700px;
}

.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  font-size: 15px;
  margin-top: 86px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-left: 0px;
  width: 280px;
  overflow-x: auto;
  overflow-y: auto;
}

.write-articles {
 margin-right: 20px;
 margin-top: 16px; 
 font-size: 16px;
 float: right;
 color: red;
 text-decoration: none;
 color: red;
}

.setting-icon {
  margin-right: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 32px;
  height: 32px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-image: none;
  background-color: rgb(196, 196, 196);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 20px 20px;
  display: inline-block;
  vertical-align: middle;
}

.alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 200px;
    margin-left: -100px;
    z-index: 99999;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.textarea,.sign-container{
  margin-top: 0px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  float: right;
  width: 100%;
  height: 80px;
  font-size: 13px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(220, 220, 220);
  border-right-color: rgb(220, 220, 220);
  border-bottom-color: rgb(220, 220, 220);
  border-left-color: rgb(220, 220, 220);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: hsla(0,0%,71%,.1);
  resize: none;
  display: inline-block;
  vertical-align: top;
  outline-style: none;
}

.personal-textarea {
  margin-top: 0px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  width: 100%;
  height: 120px;
  font-size: 13px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(220, 220, 220);
  border-right-color: rgb(220, 220, 220);
  border-bottom-color: rgb(220, 220, 220);
  border-left-color: rgb(220, 220, 220);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: hsla(0,0%,71%,.1);
  resize: none;
  display: inline-block;
  vertical-align: top;
  outline-style: none;
}

.btn-login {
  width: 78px;
  margin-top: 11px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 7px;
  padding-right: 18px;
  padding-bottom: 7px;
  padding-left: 18px;
  font-size: 16px;
  text-align: center;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #fff !important;
  background-color: #3194d0;
  outline: none;
  outline-width: medium;
  outline-style: none;
  outline-color: currentcolor;
}

.comment {
  margin-top: 20px;
  margin-left: 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #eaeaea;
}

.side-tool {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9;
}

.function-button {
  width: 50px;
  height: 50px;
  text-align: center;
  display: block;
  cursor: pointer;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(220, 220, 220);
  border-right-color: rgb(220, 220, 220);
  border-bottom-color: rgb(220, 220, 220);
  border-left-color: rgb(220, 220, 220);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  background-color: #fff;
  transition: .1s ease-in;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  -webkit-transition: .1s ease-in;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  -moz-transition: .1s ease-in;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
 -o-transition: .1s ease-in;
 -ms-transition: .1s ease-in;
}

.send-message {
  width: 100px;
  height: 40px;
  padding-top: 0px;
  padding-right: 12px;
  padding-bottom: 0px;
  padding-left: 12px;
  margin-left: -120px;
  margin-top: -60px;
  font-size: 14px;
  line-height: 40px;
  color: #42c02c;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgba(59,194,29,0.7);
  border-right-color: rgba(59,194,29,0.7);
  border-bottom-color: rgba(59,194,29,0.7);
  border-left-color: rgba(59,194,29,0.7);
  -moz-border-left-color: none;
  -moz-border-top-color: none;
  -moz-border-right-color: none;
  -moz-border-bottom-color: none;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.personal-message {
  width: 60px;
  height: 30px;
  float: left;
  padding-top: 0px;
  padding-right: 12px;
  padding-bottom: 0px;
  padding-left: 12px;
  margin-left: auto;
  margin-top: auto;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #42c02c;
  cursor: pointer;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgba(59,194,29,0.7);
  border-right-color: rgba(59,194,29,0.7);
  border-bottom-color: rgba(59,194,29,0.7);
  border-left-color: rgba(59,194,29,0.7);
  -moz-border-left-color: none;
  -moz-border-top-color: none;
  -moz-border-right-color: none;
  -moz-border-bottom-color: none;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.add-follow {
  width: 100px;
  height: 40px;
  line-height: 40px;
  padding-top: 0px;
  padding-right: 12px;
  padding-bottom: 0px;
  padding-left: 12px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(66, 192, 46);
  border-right-color: rgb(66, 192, 46);
  border-bottom-color: rgb(66, 192, 46);
  border-left-color: rgb(66, 192, 46);
  background-color: rgb(66, 192, 46);
  -moz-border-left-color: none;
  -moz-border-top-color: none;
  -moz-border-right-color: none;
  -moz-border-bottom-color: none;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.blog-add-follow {
  width: 80px;
  height: 25px;
  line-height: 25px;
  padding-top: 0px;
  padding-right: 12px;
  padding-bottom: 0px;
  padding-left: 12px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(66, 192, 46);
  border-right-color: rgb(66, 192, 46);
  border-bottom-color: rgb(66, 192, 46);
  border-left-color: rgb(66, 192, 46);
  background-color: rgb(66, 192, 46);
  -moz-border-left-color: none;
  -moz-border-top-color: none;
  -moz-border-right-color: none;
  -moz-border-bottom-color: none;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}


.followed {
  width: 100px;
  height: 40px;
  line-height: 40px;
  padding-top: 0px;
  padding-right: 12px;
  padding-bottom: 0px;
  padding-left: 12px;
  font-size: 14px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(200,200,200);
  border-right-color: rgb(200,200,200);
  border-bottom-color: rgb(200,200,200);
  border-left-color: rgb(200,200,200);
  background-color: rgb(255,255,255);
  -moz-border-left-color: none;
  -moz-border-top-color: none;
  -moz-border-right-color: none;
  -moz-border-bottom-color: none;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.blog-followed {
  width: 80px;
  height: 25px;
  line-height: 25px;
  padding-top: 0px;
  padding-right: 12px;
  padding-bottom: 0px;
  padding-left: 12px;
  font-size: 14px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(200,200,200);
  border-right-color: rgb(200,200,200);
  border-bottom-color: rgb(200,200,200);
  border-left-color: rgb(200,200,200);
  background-color: rgb(255,255,255);
  -moz-border-left-color: none;
  -moz-border-top-color: none;
  -moz-border-right-color: none;
  -moz-border-bottom-color: none;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.blog-edit {
  width: 100px;
  height: 40px;
  line-height: 40px;
  float: right;
  margin-top: -50px;
  padding-top: 0px;
  padding-right: 12px;
  padding-bottom: 0px;
  padding-left: 12px;
  font-size: 14px;
  text-align: center;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(200,200,200);
  border-right-color: rgb(200,200,200);
  border-bottom-color: rgb(200,200,200);
  border-left-color: rgb(200,200,200);
  background-color: rgb(255,255,255);
  -moz-border-left-color: none;
  -moz-border-top-color: none;
  -moz-border-right-color: none;
  -moz-border-bottom-color: none;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.change {
  background-color: gray;
  cursor: pointer;
}

.load-more {
  width: 100%;
  height: 40px;
  margin: 30px auto 60px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  background-color: #a5a5a5;
  display: block;
}

