<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>flask</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="{{url_for('static',filename="css/bootstrap.min.css")}}" rel="stylesheet"></style>
    <link href="{{url_for('static',filename="css/style.css")}}" rel="stylesheet"></style>
    <style type="text/css">
      body {background-color: #f1f1f1;}
    </style>
  </head>
  <body>
    <div class="alert"></div>
    <div>
      <header>
        {% block header %} {% endblock %}
      </header>
      <div class="container" style="text-align: center;">
        <div class="login-sign">
          <div class="login-sign-title">
            <a href="/auth/login" onfocus="blur()">登录</a>
          </div>
          <content>
            {% block content %} {% endblock %}
          </content>
        </div>
      </div>
    </div>
    <script src="{{url_for('static',filename="js/jquery.min.js")}}"></script>
    <script src="{{url_for('static',filename="js/bootstrap.min.js")}}"></script>
    <script src="{{url_for('static',filename="js/jquery.validate.js")}}"></script>
    <script src="{{url_for('static',filename="js/jquery.form.js")}}"></script>
  </body>
</html>